<html>
	<head>
	<title>Paper Graph</title>
	<link rel="stylesheet" type="text/css" href="./static/bootstrap.min.css">
  <link rel="stylesheet" href="./static/spinner.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="./static/sigma.min.js"></script>
  <script src="./static/sigma.parsers.json.min.js"></script>
  <script src="./static/sigma.layout.forceAtlas2.min.js"></script>

<style type="text/css">
body{
  display:none;
}
  #container {
    max-width: 100%;
    height:500px;
    margin-bottom:20px;
    margin-top:30px;
  }


</style>

	</head>

	<body style="background:#fafafa">

	<div class="container">
  
      <div>
        <h1>Paper Graph</h1>
        <p class="lead">Search and visualize networks of research. Research, both searched and visualized. </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6 col-md-offset-4">
          <div class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search for research keywords" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" id="search_btn" style="height:36px;width:80px;">search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
      <div class="row">
      <div class="col-lg-3" style="padding:0;">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading" style="font-size:1.3em;">phyloseq: an R package for reproducible interactive analysis and graphics of microbiome census data</h4>
          <p class="list-group-item-text">PJ McMurdie, S Holmes - 2013 - dx.plos.org</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading" style="font-size:1.3em;">Localized plasticity in the streamlined genomes of vinyl chloride respiring Dehalococcoides</h4>
          <p class="list-group-item-text">PJ McMurdie, SF Behrens, JA Müller, J Göke… - PLoS Genet, 2009 - dx.plos.org</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading" style="font-size:1.3em;">Waste not, want not: why rarefying microbiome data is inadmissible</h4>
          <p class="list-group-item-text">PJ McMurdie, S Holmes - PLoS Comput Biol, 2014 - dx.plos.org</p>
        </a>

      </div>
      </div>
        <div class="col-lg-8">
          <div id="container" style=""></div>
        </div>
      </div>

      <footer class="footer" style="padding-top:60px;padding-bottom:20px;">
        <p>Created by Adam Haifa, Badoi Phan, Josh ..., Kurt ..., at MedHacks 2015.</p>
      </footer>

    </div> 


<script>

$( document ).ready(function() {
  $('body').fadeIn(500);
  $("#search").val('');
  $("#search").focus();

  $("#search_btn").bind("click", function(e){

  });

 /** HANDLES SEARCHING **/

  $('#search').bind("enterKey",function(e){
 $(this).blur();
 $(this).parent().find("button").html('<div class="pulse-loader"></div>');
 var search_btn = $(this).parent().find("button");
   //Alright, run AJAX command
   $.ajax({
        method: 'POST',
        data: { query: $(this).val() },
        url: '/search',
        dataType: 'json',
        success: function(results) {
          console.log(results);
          search_btn.html("search");

          var i,
    s,
    N =  Object.keys(results['nodes']).length,
    E = 50,
    g = {
      nodes: [],
      edges: []
    };
    // Generate a random graph:
    for (i = 0; i < Object.keys(results['nodes']).length; i++)
    {

      g.nodes.push({
        id: Object.keys(results['nodes'])[i],
        label: results['nodes'][Object.keys(results['nodes'])[i]]['title'],
        x: Math.random(),
        y: Math.random(),
        size: 40,
        color: '#f33'
      });
    }
      
    for (i = 0; i <  results['links'].length; i++)
    {
      g.edges.push({
        id: 'e' + i,
        label: 'Edge ' + i,
        source: results['links'][i][0],
        target: results['links'][i][1],
        color: '#f33',
        type: 'curvedArrow'
      });      
    }

    // Instantiate sigma:
    $("#container").html('');
    s = new sigma({
      graph: g,
      renderer: {
        container: document.getElementById('container'),
        type: 'canvas'
      },
      settings: {
        edgeLabelSize: 'proportional',
        minArrowSize: '30',
        defaultLabelColor: 'black',
        defaultEdgeType: 'curvedArrow'
      }
    });

        }
  });

   //Update graph
   
   //Clear sigma


  });


  $('#search').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });




/**
 * This example shows the available edge label renderers for the canvas
 * renderer.
 */
var i,
    s,
    N = 30,
    E = 50,
    g = {
      nodes: [],
      edges: []
    };
// Generate a random graph:
for (i = 0; i < N; i++)
  g.nodes.push({
    id: 'n' + i,
    label: 'Node ' + i,
    x: Math.random(),
    y: Math.random(),
    size: 40,
    color: '#f33'
  });
for (i = 0; i < E; i++)
  g.edges.push({
    id: 'e' + i,
    label: 'Edge ' + i,
    source: 'n' + (Math.random() * N | 0),
    target: 'n' + (Math.random() * N | 0),
    color: '#f33',
    type: 'curvedArrow'
  });
// Instantiate sigma:
s = new sigma({
  graph: g,
  renderer: {
    container: document.getElementById('container'),
    type: 'canvas'
  },
  settings: {
    edgeLabelSize: 'proportional',
    minArrowSize: '30',
    defaultLabelColor: 'black',
    defaultEdgeType: 'curvedArrow'
  }
});

});




</script>
	</body>
</html>